* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {

        font-family: Arial;
        line-height: 1.6;
        background-color: #ffffff;
    }

    .navbar {

        background-color: #ffa31a;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {

        color: black;
        font-size: 1.5rem;
        font-weight: bold;
    }


    .nav-links a {
        color: black;
        text-decoration: none;
        margin-left: 1.5rem;
    }

    .nav-links a:hover {
        color: #ffffff;
    }

    .section {
        padding: 2rem;
        margin: 1rem auto;
        max-width: 1200px;
    }

}